<div id='email-form'>




  <form action="/emailform" method="post">
    <p>I'd love to hear from you!</p>
    <input type="text" placeholder="Your Full Name" name="full_name">
    <input type="text" placeholder="Your E-mail" name="email">
    <textarea rows="5" cols="30" name="comments"></textarea>

    <input type="submit" value="Submit" placeholder="Send">
  </form>

</div>
