<link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>




<div id="texturebg2" class="amatic title bottomwhite">
  <div>
  <p class="amatic title">Will Mitchell<br>
  <div id="title2">
    Do it BIG.
  </div>
  </p>
  </div>
</div>



<!-- <a href="#" class="btn btn-default">Learn More</a> -->

<br>
<br>

<div class="jumbotron text-center" id="jumbo">
  <div class="container-fluid text-center">

  </div>
</div>




<br>
<div id="info-and-image"
  <div class="row featurette">
    <div class="col-sm-5 col-md-7 col-lg-9">
      <h2 class="featurette-heading"><span class="text-muted">Oh hey, didn’t see you there…</span></h2>
        <p class="lead" id="yolo"> &nbsp   My name is Will Mitchell and I am a full stack web developer. After graduating from University of Victoria with a degree in Economics I enrolled in a computer programming bootcamp called Lighthouse Labs to increase my skill set and give me the freedom to create my own web projects.  My diversified education gives me a unique perspective into how I problem solve, write code and create projects. In addition to coding, I’m very interested in business, marketing and start ups.
	<br>
  &nbsp With whatever I do, I strive to always bring positive energy to the table. I love to push myself into new challenges and am relentless in completing them. If you are interested in talking to me about a project, a job or even just to chat feel free to email or call!</p>
    <br>

    </div>
    <div class="col-sm-7 col-md-5 col-lg-3">
      <img class="featurette-image img-responsive top" data-src="holder.js/500x500/auto" alt="500x500" src="http://i1264.photobucket.com/albums/jj493/wmitchel1/photo2_zpsb7b6d8e3.jpg">
      <img class="featurette-image img-responsive bottom" data-src="holder.js/500x500/auto" alt="500x500" src="http://i1264.photobucket.com/albums/jj493/wmitchel1/supreme_zpsb46b8b2c.jpg">
    </div>
  </div>
  </div>

<div class="row">
  <div id="skills-bar" class="amatic title bottomwhite col-md-12">
    <h2>
      Skill Stats
    </h2>
      <div class="skills-container">
        <div class="skills" id="ruby">
          Ruby on Rails
        </div>
        <div class="skills" id="css">
          CSS3
        </div>
        <div class="skills" id="jquery">
          jQuery
        </div>
        <div class="skills" id="javascript">
          Javascript
        </div>
        <div class="skills" id="tdd">
          TDD
        </div>
        <div class="skills" id="github">
          Git
        </div>
        <div class="skills" id="html">
          HTML5
        </div>
      </div>
  </div>
</div>

<br>

<hr>

<div class="container">
    <div id="all-projects">
      <div class="project-container row">
        <h1>My Projects</h1>
        <hr>
        <h2>Darkroom</h2>
        <div class="project-img span4 column">
          <img src="http://i1264.photobucket.com/albums/jj493/wmitchel1/dark_zpse94e6943.jpg">
        </div>
        <div class= "writing-cont span4 column">
          <span id= "project-text">
            Darkroom allows users to post graphic designs or images they require accompanied by their price point. Designers can then search through listed jobs and full fill users needs in exchange for payment which is handled by the Stripe API.
          </span>
        </div>
      </div>

    <hr>

      <div class="project-container row">
        <h2>Noteshare</h2>
        <div class="project-img span4 column">
          <img src="http://i1264.photobucket.com/albums/jj493/wmitchel1/ferris-bueller_002935591_zpsf1a3bc9c.jpg">
        </div>
        <div class= "writing-cont span4 column">
          <span id="project-text">
            Built primarily with Ruby on Rails, NoteShare is a web application that crowd sources and recycles old university tests, assignments and notes. (Work in progress)
          </span>
        </div>
      </div>

    <hr>

      <div class="project-container row">
        <h2>GoHelp</h2>
        <div class="project-img span4 column">
          <img src="http://i1264.photobucket.com/albums/jj493/wmitchel1/ScreenShot2014-08-16at82918PM_zpsb68e36e1.png">
        </div>
        <div class= "writing-cont span4 column">
          <span id="project-text">
            Sinatra and Ruby application that uses a kickstarter like system to help volunteers and project managers connect. Built by a team of three using Github to coordinate and collaborate our work. Front end designed using the Bootstrap framework.
          </span>
        </div>
      </div>
    </div>
</div>


<hr>

<div class="footer">
  <div class="container">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-1">Contact Me</button>
    <div class="modal" id="modal-1" tabindex="1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Contact Me</h4>
            </div>
              <div class="modal-body">
                <form action="/contact" method="post">
                  <p>One submit away from glory.</p>
                  <input type="text" placeholder="Your Full Name" name="full_name">
                  <input type="text" placeholder="Your E-mail" name="email">
                  <textarea rows="5" cols="30" name="comments"></textarea>
                  <br>
                  <input type="submit" value="Submit" placeholder="Send">
                  <br>
                </form>
              </div>
             <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<br>
